<footer id="footer">
  <div class="container">
    <div class="row-fluid">
       <div class="span3 offset4 social">
         <h4>Stay in Touch</h4>
         <ul>
           <li>
             <a href="http://blog.gridkick.com" class="btn btn-mini blog-btn" target="_blank"><i class="icon-lightbulb"></i> Read Blog</a>
           </li>
           <li class="social-btns">
             <a href="https://twitter.com/intent/follow?region=follow_link&screen_name=gridkick&tw_p=followbutton&variant=2.0" class="btn btn-mini"><i class="icon-twitter"></i></a>
             <a href="https://plus.google.com/106965862472325763185" rel="publisher" class="btn btn-mini"><i class="icon-google-plus"></i></a>
             <a href="https://www.facebook.com/gridkick" class="btn btn-mini"><i class="icon-facebook"></i></a>
           </li>
           <li>

           </li>
           <li>
             <form action="http://venture.us5.list-manage1.com/subscribe/post?u=536618eb2d126fec09d8e0f38&amp;id=40ba0dfcf1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
              <div class="input-append">
                <input type="email" value="" name="EMAIL" class="email input-small" id="mce-EMAIL" placeholder="email me updates" required>
                <button type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-mini">Submit</button>
              </div>

            </form>
           </li>
         </ul>

       </div>

       <div class="colorado-logo span3">
         <h4>Proudly built in</h4>
        <%= image_tag ("CO.png") %>
      </div>

    </div>



    <div class="copyright">
      © <%= DateTime.now.year %> Venture IO, Inc. · <a href="https://www.docracy.com/8p7ngbg9hj/privacy-policy-of-gridkick-com">Privacy</a> · <a href="https://www.docracy.com/0oj2ysekqqn/terms-of-service-of-gridkick-com">Terms</a>
    </div>

  </div>
</footer>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>