
<form>
  {{input email inputConfig="class:input-block-level;" label=" " placeholder="email"}}

  <div>
      <button class="btn btn-large btn-block" {{action submit}}>Send Reset Email</button>
  </div>
</form>
<hr>
<div>
  Have an Account? {{#linkTo 'login'}} Log in {{/linkTo}}
</div>
