<form>
  {{input password inputConfig="class:input-block-level;" label=" " placeholder="new password (8+ chars)"}}
  {{input password_confirmation inputConfig="class:input-block-level;" label=" " placeholder="password confirmation"}}

  <div>
      <button class="btn btn-large btn-block" {{action submit}}>Save Password</button>
  </div>
</form>
<hr>
<div>
  Have an Account? {{#linkTo 'login'}} Log in {{/linkTo}}
</div>
