<section id="customers">
  <div class="container">
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="/assets/customers/david-der.png">
      </a>
      <div class="media-body">
        <h4 class="media-heading">David Der, <a href="http://swol.co" target="_blank">Swol.co</a></h4>

        <p>We are using GridKick in our production environment (320k uniques/week) and couldn't be happier with their customer service and product.
            With one click our database server was up and running and ready for us to use, so easy!</p>
      </div>
    </div>
  </div>
</section>
