<section id="features" class="container">
  <h2 class="main-header">Features</h2>

  <div class="row-fluid">
    <div class="media span4">
      <i class="media-object icon-fighter-jet pull-left"></i>
      <div class="media-body">
        <h4 class="media-heading">Quick Deployments</h4>
        <p>
          With GridKick as your database hosting provider, you won't have to spend days setting up your infrastructure....you will be up and running in minutes.
        </p>

      </div>
    </div>

    <div class="media span4">
      <i class="media-object icon-briefcase pull-left"></i>
      <div class="media-body">
        <h4 class="media-heading">Be Prepared</h4>
        <p>
          With automatic daily backups, you can rest assured that your data is safe and sound. If you ever need to restore from a backup, its as easy as one click.
        </p>

      </div>
    </div>
    <!-- <div class="media span5 offset1">
      <i class="media-object icon-cogs pull-left"></i>
      <div class="media-body">
        <h4 class="media-heading">Api Focused</h4>
        <p>
          Do you love automation as much as we do? If so, you will feel right at home with our API. Use it to automate those
          deployment tasks so you can get back to doing what you love. Do More Faster!
        </p>

      </div>
    </div> -->

    <div class="media span4">
      <i class="media-object icon-laptop pull-left"></i>
      <div class="media-body">
        <h4 class="media-heading">Work Anywhere</h4>
        <p>
          With our web interface, you can deploy and manage your databases from anywhere! If you prefer spending your days on the command line, then stay there with our CLI client.
        </p>

      </div>
    </div>

    <!-- <div class="media span5">
      <i class="media-object icon-cloud pull-left"></i>
      <div class="media-body">
        <h4 class="media-heading">Any Cloud</h4>
        <p>
          We hate vendor lock in as much as the next guy, which is why GridKick lets you choose which cloud provider to use. If you
          don't fancy the public clouds, then you can deploy to your own private cloud.
        </p>

      </div>
    </div> -->

     <!-- <div class="media span5 offset1">
      <i class="media-object icon-dashboard pull-left"></i>
      <div class="media-body">
        <h4 class="media-heading">Stay Informed</h4>
        <p>
          Do your databases usually exist in a black hole with no insight into their health or performance?
          GridKick gives you insight into each service you deploy with a realtime dashboard... be blind no more!
        </p>

      </div>
    </div> -->
  </div>
</section>
