<section id="pricing">
  <div class="container">
    <h2 class="main-header">Pricing </h2>

    <div class="plans row-fluid">
      <div class="span3 plan all">
        <div class="header">
          <div class="number">
            All Servers
          </div>
        </div>


        <ul class="price-description">
          <li>
            <i class="icon-check"></i> Automatic daily backups
          </li>
          <li>
            <i class="icon-check"></i> SSDs for fast performance
          </li>
          <li>
            <i class="icon-check"></i> Starts at 512MB RAM
          </li>
          <li>
            <i class="icon-check"></i> Ready in minutes
          </li>

        </ul>

      </div>
      <div class="span3 plan basic">
        <div class="header">

          <div class="number-text">Limited to</div>
          <div class="number">1</div>
          <div class="number-text">database server</div>
        </div>

        <div class="subscribe-action">
          <div class="price">$30/month</div>
          <div class="trial">(7 day free trial)</div>
          <div class="get-started">
            <a href="/signup" id="1-db-plan" class="btn btn-large" >Get Started</a>
          </div>
        </div>

      </div>

      <div class="span3 plan sweet">
        <div class="header">
          <div class="number-text">Up to</div>
          <div class="number">3</div>
          <div class="number-text">database servers</div>
        </div>


        <div class="subscribe-action">
          <div class="price">$75/month</div>
          <div class="trial">(7 day free trial)</div>
          <div class="get-started">
            <a href="/signup" id="3-db-plan" class="btn btn-large" >Get Started</a>
          </div>
        </div>
      </div>

      <div class="span3 plan awesome">
         <div class="header">
           <div class="number-text">Up to</div>
           <div class="number">6</div>
           <div class="number-text">database servers</div>
          </div>

        <div class="subscribe-action">
          <div class="price">$130/month</div>
          <div class="trial">(7 day free trial)</div>
          <div class="get-started">
            <a href="/signup" id="6-db-plan" class="btn btn-large" >Get Started</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>