<div id="thanks" class="container">
  <div id="inner">

    <h3> Almost finished...</h3>

    <p>
      We need to confirm your email address.
    </p>

    <p>
      To complete the subscription process, please click the link in the email we just sent you.</h4>
    </p>

    <a href="/" class="btn btn-large">
      <i class="icon-circle-arrow-left"></i>
      return to gridkick.com
    </a>
  </div>

</div>

<!-- Google Code for Signup Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 990542638;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "u4dJCIqEugQQrvap2AM";
var google_conversion_value = 1;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/990542638/?value=1&amp;label=u4dJCIqEugQQrvap2AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

