
#payment-form {
  .input-mini {
    width: 65px;
  }

  .span4 {
    max-width: 185px;
  }
}

.payment-info {
  img.logo {
    max-width: 50px;
  }

  span {
    font-size: 16px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .btn {
    margin-left: 20px;
  }
}

.note {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
