<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/"><img src="/assets/gridkick_color.png" alt="GridKick"/></a>
      <ul class="nav pull-right">
        <a data-target=".top-nav.nav-collapse, .sidebar-nav.nav-collapse" data-toggle="collapse" class="btn btn-navbar collapsed hidden-tablet">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
         {{yield}}
      </ul>
    </div>
  </div>
</div>